@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "OleoScript-Regular";
  src: url("../fonts/Oleo_Script/OleoScript-Regular.ttf") format("truetype"),
    url("../fonts/Oleo_Script/OleoScript-Regular.ttf") format("truetype");
}